* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

#nav-bar {
	position: sticky;
	top: 0;
	z-index: 10;
}

.navbar {
	background-image: linear-gradient(to right, #021b79, #245caa, #3a7bd5);
	padding: 0 !important;
}

.navbar-brand img {
	height: 40px;
	padding-left: 20px;
}

.navbar-nav li {
	padding: 0 15px;
}

.navbar-nav li a {
	color: #fff !important;
	font-weight: 600;
}

.fa-bars {
	color: #fff;
	font-size: 25px !important;
}

.navbar-toggler {
	border: none !important;
}

.card {
	background-color: rgb(255, 255, 255, 0.65) !important;
}

/* Home section styling */
#home {
	padding-top: 0%;
	background-image: url("assets/images/wave.png"), linear-gradient(to right, #021b79, #245caa, #3a7bd5);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

#slogan {
	padding: 50px;
}

#slogan-img {
	width: auto;
	height: 250px;
	padding-top: 2%;
	border-radius: 50%;
}

#intro {
	padding-top: 2%;
}

#intro-content {
	color: #000;
	padding: 40px;
	border: solid #fff 1px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255, 0.45);
}

.title {
	padding-bottom: 20px;
	color: #495464;
}
.title::before {
	content: '';
	background: #495464;
	height: 2px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(60px);
}

/* Domain section styling */
#domain {
	padding-top: 5%;
	background-image: linear-gradient(to right, #298fce, #2e97d6);
}

.dom-cont {
	color: #000;
	padding: 40px;
	border: solid #fff 1px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255, 0.45);
}

.prblm-img {
	height: auto;
	width: 75px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#res-gap {
	padding-top: 2%;
}

.res-icon-cor {
	color: green;
}

.res-icon-wrg {
	color: red;
}

#res-obj {
	padding-top: 2%;
}

.obj-list {
	padding-left: 2%;
	padding-right: 2%;
}

#meth {
	padding-top: 2%;
}

.sys-diag {
	width: auto;
	height: 100px;
	border-radius: 5px;
	border: #fff solid 1px;
}

#tech {
	padding-top: 2%;
}

.tech-img {
	width: 75px;
	height: auto;
}

.react-img {
	transform: rotate(30deg);
}

/* Domain section styling */
#milestones {
	padding-top: 5%;
	background-image: linear-gradient(to right, #298fce, #2e97d6);
}

.mil-cont {
	color: #000;
	padding: 40px;
	border: solid #fff 1px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255, 0.45);
}

.mile {
	border: solid #fff 1px;
	border-radius: 5px;
}

.vertical-line {
	display: inline-block;
	border-left: 5px solid #fff;
	margin: 0 10px;
	height: 75px;
}

/* Document section styling  */
#documents {
	padding-top: 5%;
	background-image: linear-gradient(to right, #298fce, #2e97d6);
}

.doc-cont {
	color: #000;
	padding: 40px;
	border: solid #fff 1px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255, 0.45);
}

.down-icon {
	font-size: 25px !important;
	color: lightgray;
}

.down-icon:hover {
	color: lightgreen;
}

/* About us section styling  */
#about {
	padding-top: 5%;
	padding-bottom: 5%;
	background-image: linear-gradient(to right, #298fce, #2e97d6);
}

.abt-cont {
	color: #000;
	padding: 40px;
	border: solid #fff 1px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255, 0.45);
}

.profile {
	background-color: rgb(255, 255, 255, 0.65);
	border-radius: 5px;
}

.profile_img {
	border-radius: 50%;
}

/* Footer section styling  */
#footer {
	background-image: linear-gradient(to right, #021b79, #245caa, #3a7bd5);
	height: 100px;
	padding-left: 5%;
	padding-top: 2%;
	color: rgb(255, 255, 255, 0.65);
}
